:root {
    --main-theme-color: #f3f4f6;
}

html, body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    background-repeat: no-repeat;
}

path {
    stroke: black;
    stroke-width: 20px;
    stroke-linejoin: round;
}

#general-info-div {
    display: flex;
}

.location-card {
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.misc-info-card {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.misc-info-display {
    display: grid;
    justify-self: flex-end;
    grid-template-columns: 60px 150px;
    grid-template-rows: 20px 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 900;
    font-size: 1rem;
}

.misc-info-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 3rem;
}

.misc-info-title {
    font-size: 1rem;
}

.misc-info-value {
    font-size: 2rem;
}

#page-header-div {
    background-color: #343a40;
    height: 125px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.page-logo-div {
    display: flex;
    flex-direction: column;
    color: white;
}

.page-logo {
    font-size: 2.5rem;
}

.page-logo-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.search-div {
    display: flex;
}

#search-bar {
    border: 0;
    height: 35px;
    width: 400px;
    border-radius: 5px 0px 0px 5px;
}

#search-button {
    border: 0;
    height: 37px;
    background-color: orange;
    width: 75px;
    border-radius: 0px 5px 5px 0px;
}

.error-div {
    margin-left: 100px;
}

.error-span {
    color: red;
}

#page-layout {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    gap: 200px;
    display: flex;
    flex-direction: column;
}

.weather-background {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 50vh;
    background-image: URL('./assets/images/sample.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.weather-card {
    margin: auto;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.weather-card-title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 900;
    font-size: 2rem;
}

.current-weather-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.current-temperature-div {
    display: flex;
    align-items: center;
}

.current-precipitation-div {
    display: flex;
    align-items: center;
}

.current-wind-div {
    display: flex;
    align-items: center;
}

.current-weather-icon {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 2rem;
}

.current-rain-icon {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: lightblue;
    font-size: 2rem;
}

.current-wind-icon {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: lightgreen;
    font-size: 2rem;
}

#current-weather-temperature-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;ize: 3rem;
    margin-top: 5px;
    font-size: 3rem;
}

#current-weather-precipitation-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 3rem;
    margin-top: 5px;
}

#current-weather-wind-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 3rem;
    margin-top: 5px;
}

/*Weather Icon Colours*/

.sunny {
    color: orange;
}

.rainy-heavy, .rainy {
    color: lightblue;
}

.foggy, .misty, .cloud, .partly-cloudy-day, .clear {
    color: gray;
}

.ac-unit, .severe-cold, .weather-hail, .weather-snowy {
    color: darkcyan;
}

.thunderstorm {
    color: darkgoldenrod;
}

/*Weather Grid*/
#forecast-weather-grid-container {
    background-color: white;
    font-weight: 900;
}

#hourly-forecast-grid-container {
    background-color: white;
}

#forecast-weather-grid {
    display: grid;
    grid-auto-rows: 50px;
}

.forecast-weather-grid-header-div {
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.forecast-weather-grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid grey;
    align-items: center;
}

.forecast-weather-grid-row:last-child {
    border-bottom: 1px solid grey;
}

.forecast-weather-grid-row:hover {
    background-color: #f3f4f6;
}

.grid-row-temp {
    color: red;
}

.grid-row-precipitation {
    color: blue;
}

.grid-row-wind {
    width: 75px;
    display: block;
    color: green;
}

.grid-row-hourly-breakdown-div {
    display: flex;
    align-items: center;
}

.popup-background-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
} 

.popup {
    width: 100%;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    border-radius: 5px;
}

.popup-inner-div {
    margin-left: 50px;
    margin-right: 50px;
}

#hourly-forecast-grid {
    display: grid;
    grid-auto-rows: 50px;
}

.hourly-forecast-grid-header-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hourly-forecast-grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid grey;
    align-items: center;
}

.hourly-forecast-grid-row:last-child {
    border-bottom: 1px solid grey;
}

.hourly-forecast-grid-row:hover {
    background-color: var(--main-theme-color);
}

.grid-row-wind-div {
    display: flex;
}

.grid-row-wind-direction-icon {
    align-self: flex-end;
    font-size: 1rem;
}

@media (max-width: 820px) {
    #page-header-div {
        flex-direction: column;
        margin-left: 0px;
    }

    #search-bar {
        width: clamp(200px, 30vw, 400px);
    }

    .error-div {
        margin-left: 0px;
    }

    .current-weather-icon {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 2rem;
    }
    
    .current-rain-icon {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: lightblue;
        font-size: 2rem;
    }
    
    .current-wind-icon {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: lightgreen;
        font-size: 2rem;
    }
    
    #current-weather-temperature-text {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;ize: 3rem;
        margin-top: 5px;
        font-size: 2rem;
    }
    
    #current-weather-precipitation-text {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 2rem;
        margin-top: 1px;
    }
    
    #current-weather-wind-text {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 2rem;
        margin-top: 5px;
    }

    .current-weather-info {
        flex-direction: column;
    }

    .misc-info-display {
        grid-template-columns: 35px 75px;
        grid-template-rows: 40px 20px;
    }

    .weather-card-title {
        font-size: 1.5rem;
    }

    .location-card {
        font-size: 1.2rem;
    }

    .misc-info-title, .misc-info-value {
        font-size: 1rem;
    }

    .misc-info-title {
        margin: auto 0;
    }

    .misc-info-icon {
        font-size: 2rem;
    }

    .misc-info-card {
        gap: 10px;
    }

    .hourly-breakdown {
        display: none;
    }

    .forecast-weather-grid-header-div {
        display: none;
    }
    
    #forecast-weather-grid {
        grid-auto-rows: 75px;
    }

    .forecast-weather-grid-row {
        grid-template-columns: 1fr 50px 1fr 1fr 1fr 20px;
        text-align: center;
    }
}